<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ITokenPayService">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://dxepos06.cathdevelop.intra.uwccb/EPOSService/CRDOrderService/TokenPayService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITokenPayService"
                contract="ITokenPayService" name="WSHttpBinding_ITokenPayService" />
        </client>
    </system.serviceModel>
</configuration>